node_modules/
dist/
.nx/
.angular/
tmp/
storybook-static/

# Build artifacts
packages/core/styles/*
!packages/core/styles/dark.css
packages/core/src/_generated/
documentation.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

.claude/
